[Unit]
Description=Work Flow Offline Service
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
WorkingDirectory=/opt/work_flow_release
ExecStart=/opt/work_flow_release/start_system.sh
ExecStop=/opt/work_flow_release/stop_system.sh
PIDFile=/opt/work_flow_release/local/run/uvicorn.pid
Restart=always
RestartSec=5
KillMode=process
TimeoutStartSec=120
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
